
<h1>Comback Kid: Contact List</h1>
<!-- <div id="searchcontact">
	<h3>Contact:</h3>
	<form>
		<label>Search by email:</label>
		<input type="text" id="email_search">
		<button id="search_contact">Search</button>
	</form>
</div> -->
 
<div id="contacts">
	<table id="list_contacts" width="50%" border="">
	</table>
</div>


<div id="newcontact">
		<h3>New Contact Details </h3>
		<form id="new">
			First Name: <input type="text" id="first_name"><br>
			Last Name: <input type="text" id="last_name"><br>
			Phone number: <input type="text" id="phone"><br>
			Email: <input type="text" id="email"><br><br>
			<button id="save_button"> Save </button>
		</form>
</div>

<div id="edit_form">
	<h3>Edit Contact:</h3>
	<form id="edit">
				First Name: <input type="text" id="first_name"><br>
				Last Name: <input type="text" id="last_name"><br>
				Phone number: <input type="text" id="phone"><br>
				Email: <input type="text" id="email"><br><br>
				<button id="edit_button"> Save </button>
			</form>	
</div>


<button id="all_contacts" value="all contacts">all contacts</button>
<button id="new_contact" value="new_contact">New Contact</button>